body {
    margin: 0;
    font-family: "SoDo Sans SemiBold", Helvetica Neue, Helvetica, sans-serif, Arial, sans-serif;
}

.navbar {
    padding: 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   box-shadow: 10px 2px 5px 0px rgba(66,112,74,0.72);
-webkit-box-shadow: 10px 2px 5px 0px rgba(66,112,74,0.72);
-moz-box-shadow: 10px 2px 5px 0px rgba(66,112,74,0.72);
}


.navbar-left svg{
    width: 50px;   
    margin-right: 20px;
}

.navbar-left div {
    text-transform: uppercase;
    font-weight: 600;
}
.navbar-left div:hover, 
.find-a-store:hover {
    color: #00754a;
}
.navbar-left, 
.navbar-right {
    display: flex;
    align-items: center;
}
.navbar-left > *, 
.navbar-right > * {
    margin: 10px;
}
.find-a-store {
    display: flex;
    align-items: center;
    font-weight: 500;
}
.find-a-store svg {
    width: 16px;
    margin-right: 5px;
}

.sign-in, 
.join-now {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px 20px 5px 20px;
}
.join-now {
    background-color: black;
    color: white;
}
.join-now:hover {
    background-color: rgb(0, 0, 0, 0.8);
}
.sign-in:hover {
    background-color: rgb(0, 0, 0, 0.07);
}
.product-title {
    font-size: 19px;
    color: white;
    font-weight: 600;
    margin-bottom: 40px;
     margin-left: 450px;
     margin-top: 60px;
}
.product {
    display: flex;
    align-items: center;
}
.product-button {
    color: rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    border: 2px solid rgb(255, 255, 255);
    font-size: 19.5px;
    transition: 0.8s;
    text-align: center;
    max-width: max-content;
}
.product-button:hover {
        background-color: #00754a;
}

.product-button, .product-title {
    padding: 2px 12px;
    display: inline-block;
     font-style: semi-bold;
     
}
.product-container2 {
    max-width: 1440px;
    margin: auto;
}
.product2 img {
    max-width: 100%;
    object-fit: contain;
    height: 100%;
}
.product2 {
    display: flex;
}

.product-left,
.product-right {
    max-width: 50%;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 100%;
    align-content: stretch;
    flex-direction: column;
}

.product-title2 {
  color: #006242;
  width: 100%;
 text-align: center;
 font-size: 25px;
 margin-top: 20px;
 margin-bottom: 20px;
 font-weight: 700; 
  font-family: Arial, Helvetica, sans-serif;
}
.product-container2 {
    margin: 40px 0px 40px 0px;
    display: flex;

}

.product-button2 {
  border: 1px solid #006242;
  color: #006242;
  background-color: transparent;
    max-width: max-content;
    padding: 5px 20px 5px 20px;
    border-radius: 40px;
    text-align: center;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
}
.product-button2:hover {
    background-color: #00624113;
}

.product-description {
 color: #006242;
 padding: 9px 50px;
 font-size: 18.5px;
 line-height: 1.6;
 font-style: semi-bold;
 margin-right: 30px;
 margin-left: 60px;
 font-weight: 300;
 text-align: center;
 font-family: Arial, Helvetica, sans-serif;
}
.product-title2 p{
    margin: 0;
    margin-top: 10px;
}

.footer {
  background-color: #ffffff;
  padding: 40px 60px;
  margin-top: 60px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.329);
}


.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #000;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  font-size: 14px;
  color: #6b6b6b;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer-column ul li:hover {
  color: #000;
}

.footer-bottom {
  margin-top: 40px;
  border-top: 1px solid #e5e5e5;
  padding-top: 25px;
  text-align: center;
}

.social-icons {
  margin-bottom: 20px;
}

.social-icons i {
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}

.footer-links {
  margin-bottom: 15px;
}

.footer-links a {
  margin: 0 10px;
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.copyright {
  font-size: 12px;
  color: #6b6b6b;
}
        